<!DOCTYPE html>
<html lang="en">
<% include ./header.ejs %>
<body>
  <% userList.forEach(item=>{%>
    <ul>
      <li>
        <span><%=item.ID %></span>
        <span><%=item.userName %></span>
        <span><%=item.password %></span>
      </li>
    </ul>
  <%})%>
</body>
</script>
</html>